a {
  text-decoration: none;
  margin: 0 2px;
  position: relative;
  color: $link-color;
}

a:before {
  position: absolute;
  text-decoration: none;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $link-hover-color;
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}

// Correct issues with buttons
button,
.button {
  text-shadow: none;
  background-image: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.anchorjs-link {
    text-shadow: none;
    background-image: none;
}
.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: $link-hover-color;
    text-shadow: none;
    background-image: none;
}
