
@font-face {
  font-family: 'GTHaptikLight';
  src: url('http://www.mikejakobsen.com/fonts/GTHaptikLight.eot?#iefix') format('embedded-opentype'),  url('http://www.mikejakobsen.com/fonts/GTHaptikLight.woff') format('woff'), url('http://www.mikejakobsen.com/fonts/GTHaptikLight.ttf')  format('truetype'), url('http://www.mikejakobsen.com/fonts/GTHaptikLight.svg#GTHaptikLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
